<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Personal_v1</display-name>
  <welcome-file-list>
    <welcome-file>FirstPage_v1.jsp</welcome-file>
    <welcome-file>AnalysisData_v1.html</welcome-file>
    <welcome-file>Search.jsp</welcome-file>
    <welcome-file>Memo.jsp</welcome-file>
    <welcome-file>DataIn.jsp</welcome-file>
    <welcome-file>DataOut.jsp</welcome-file>
    <welcome-file></welcome-file>
  </welcome-file-list>
</web-app>